<div class="container">
  <form #myForm="ngForm">
    <h3>Captch function</h3>
    <div class="randomNumber">
      {{ catpcheCountOne }} + {{ catpcheCountTwo }}
    </div>
    <input
      type="text"
      placeholder="solution"
      ngModel
      name="captche_value"
      [value]="userValue"
    />

    <img
      src="../assets/images/captche.png"
      class="img_captche"
      (click)="getRandomCount(myForm)"
    />

    <div>
      <button
        type="button"
        class="btn btn-success"
        (click)="submitHandler(myForm)"
      >
        Login
      </button>
    </div>
  </form>
</div>
